body {
background-color:rgb(0, 0, 0);
color: white;
background-image: url("assets/Imagem\ 7.jpg");
background-repeat: no-repeat;
background-size: cover;

}

img {

    height: 300px;
    border: 5px solid white;
    border-radius: 30px;
}

h1{
    font-family: "sagoe UI, Tahoma, Geneva, Verdana, sans-serif";
    padding: 10px;
    background-color: rgba(2, 2, 105, 0.678);
    color:rgb(168, 124, 3);
}
p{
    color: rgb(238,183,18);
}

footer p{
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;

}
h2{
    border:15px solid transparent;
    background-color: rgba(163, 12, 1, 0.747);
    color: rgba(238, 183, 18, 0.678);
}
